/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0; 
  
  vertical-align: baseline;
}

/* Corrupted CSS below */
/* ------------------- */
body {
  background: #eaeaee;
  font-family: "Yanone Kaffeesatz", sans-serif;
  max-width: 600px;
  margin: 0 ;
  padding: 32px 30px 30px;
}

h1,
h2 {
  font-family: "Bangers", cursive;
}

.h2 {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.title {
    font-size: 48px;
}

.content {
  height:50px;
  border: 5px;
  padding: 30px;
  margin: 30px;
  background-color: white;
}

.content ul {
  margin-top: 10px;
  padding-left: 20px;
}

.element {
  list-style-type: square;
}

.first {
  
}

.second {
  font-weight:bolder;
}